<%- include("partials/navBar") %>
    <!--the actullay news-->

    <div class="newsContainer">

      <% if (scienceArticles  && scienceArticles.length > 0) { %>
      <% { scienceArticles.forEach(article => { %>
          
      <div class="NewsCard">
        <img class="newsImage" src = "<%= article.urlToImage %> " alt="News Image" />

        <div class="newsMetaTop">
         <span> cetogory:<%= article.q %></span>
          <span>date : <%= article.publishedAt %>  </span>
        </div>

        <h1 class="title"><%= article.title %></h1>
        <p class="newsDescription"><%= article.description %> </p>

        <div class="newsMetaBottom">
          <span>Author: <%= article.author %> </span>
          <span>Name:  <%= article.name %> </span>
          <span >URL:  <%= article.url %>  </span>
          <span>Country:<%= article.country %> </span>
        </div>
  
       <% })}; %>
          <% } %>

        <br />

      </div>

        <script >
      function Navigate(route){
        window.location.href = route;
      }

    </script>
  </body>
</html>