<%- include("partials/navBar") %>
    <!--the actullay news-->

    <div class="newsContainer">

      <% if (SportArticles  && SportArticles.length > 0) { %>
      <% { SportArticles.forEach(article => { %>
          
      <div class="NewsCard">
        <img class="newsImage" src = "<%= article.urlToImage %> " alt="News Image" />

        <div class="newsMetaTop">
          <span> category: Sports</span>
          <span>date : <%= article.publishedAt %>  </span>
        </div>

        <h1 class="title"><%= article.title %></h1>
        <p class="newsDescription"><%= article.description %> </p>

        <div class="newsMetaBottom">
          <span class ="author">Author: <%= article.author %> </span>
          <span >Name:  <%= article.source.name %> </span>
          <span class="url"> <a  class="url" href ="<%= article.url %>" >  Click here To view more About the post on External Website</a> </span>
          <span>Country: Universal </span>
        </div>
        </div>
  
       <% })}; %>
          <% } %>

        <br />

      </div>


    <script >
      function Navigate(route){
        window.location.href = route;
      }

    </script>
  </body>
</html>